.img-adjust
  background-color: #E898A4
  object-fit: contain
.bloque-texto-c.color-primario
  background-color: #F2D4DF
.cajon.color-primario
  background-color: #F4DCE6
.cajon-adicional--con-bordes
  background-color: #F4DCE6
  border-left: 2px solid #BF3976
  border-right: 2px solid #BF3976
.caja-cafe
  background-color: #E7D6C2
.tabs-b.tabs-special
  border: none
.tabs-b__tab.tabs-special1
  border: none
  &.tabs-b__tab--active
    background-color: $color-acento-botones
    color: white
    border-top: none!important
h3.titulo-slyder-special
  color: $color-secundario
.caja.temporal--azul
  background-color: #D8EFFB
.caja.temporal--rosa
  background-color: #F4DCE6

.tabs-a__tab
  background-color: #EBEBEB

.bloque-texto-d.color-secundario
  border-top: 0
  &::before
    background-color: #E0C2CE

.border-bottom
  border-bottom: 2px solid $color-primario !important
  font-weight: 700

.tarjeta.color-primario
  background-color: #F4DCE6
  *
    color: #12263F!important
.tarjeta-avatar
  img
    width: 120px
  .tarjeta
    padding-top: 30px!important

.lista-ol--cuadro__vineta.circle
  height: 60px
  min-width: 60px
  border-radius: 99999px
  margin-right: 40px
  span
    line-height: 2em
    font-size: 40px

.list-with--borders
  border-top: 1px solid #b0c0d2
  border-bottom: 1px solid #b0c0d2
  margin-bottom: 0!important

.additional-ext
  position: relative
  *
    position: relative
  &::before
    content: ''
    position: absolute
    background-color: #D8EFFB
    top: 0
    bottom: 75%
    right: 0
    left: 0

.background1-especial1
  background-color: #C9447E
.background1-especial2
  background-color: #D8EFFB
.border-radius
  &.left
    border-top-right-radius: 50px
    border-bottom-right-radius: 50px
  &.right
    border-top-left-radius: 50px
    border-bottom-left-radius: 50px

.pasos-a__circle
  > *
    color: white!important

.bloque-texto-c.color-secundario
  background-color: #F2D4DF

.slyder-a__bullets
  bottom: 0px

.slyder-a__btn--atrs
  left: 0px
.slyder-a__btn--sigt
  right: 0px